@font-face {
  font-family: "Eina 04 Light";
  src: url("./assets/typography/Eina04-Light.woff2") format("woff2"),
    url("./assets/typography/Eina04-Light.woff") format("woff");
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: "Eina 04 Italic";
  src: url("./assets/typography/Eina04-LightItalic.woff2") format("woff2"),
    url("./assets/typography/Eina04-LightItalic.woff") format("woff");
  font-weight: 300;
  /* font-style: italic; */
  font-display: swap;
}

@font-face {
  font-family: "Eina 04 RegularItalic";
  src: url("./assets/typography/Eina04-RegularItalic.woff2") format("woff2"),
    url("./assets/typography/Eina04-RegularItalic.woff") format("woff");
  font-weight: normal;
  /* font-style: italic; */
  font-display: swap;
}

@font-face {
  font-family: "Eina 04 Regular";
  src: url("./assets/typography/Eina04-Regular.woff2") format("woff2"),
    url("./assets/typography/Eina04-Regular.woff") format("woff");
  font-weight: normal;
  /* font-style: normal; */
  font-display: swap;
}

* {
  /* box-sizing: border-box; */
  font-family: "Eina 04 Light";
  /* delete down if typography fails */
  font-display: none;
  color: white;
  font-size: 16px;
  margin: 0;
  padding: 0;
  font-variant: slashed-zero;
  scroll-behavior: smooth;
}

/* index page */

body {
  background-color: black;
}

h1 {
  font-family: "Eina 04 Light";
  font-size: 23px;
  color: white;
  mix-blend-mode: difference;
}

a {
  text-decoration: none;
}
h1 a {
  font-size: 23px;
}

.hover:hover {
  color: gray;
  -webkit-transition: color 150ms linear;
  -ms-transition: color 150ms linear;
  transition: color 150ms linear;
  text-decoration: none;
}

.nav-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-bar {
  display: flex;
  flex-direction: row;
  justify-items: center;
  position: fixed;
  z-index: 1;
  width: 98vw;
  align-items: center;
  mix-blend-mode: difference;
}

.main-bar-2 {
  display: flex;
  flex-direction: row;
  justify-items: center;
  position: fixed;
  width: 98vw;
  align-items: flex-start;
  mix-blend-mode: difference;
  padding-top: 40px;
}

.biggerText {
  font-size: 2.5em;
}

.course {
  display: flex;
  justify-content: left;
  width: 33vw;
}

.title {
  display: flex;
  width: 33vw;
  justify-content: center;
  text-align: center;
}

.logo {
  display: flex;
  width: 33vw;
  justify-content: flex-end;
  text-align: right;
}

ul {
  display: flex;
  flex-direction: column;
  list-style: "⎯⎯";
  /* padding: 50px; */
}

.alumns-list ul {
  display: flex;
  /* flex-direction: column; */
  list-style: "⎯⎯";
}

.alumns-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  /* position: fixed; */
  bottom: 20px;
  padding: 50px;
}

.alumns-list li {
  padding-right: 39px;
  font-size: 35px;
  font-family: "Eina 04 Light";
  /* padding: 15px; */
}

.alumns-list li:nth-child(1) {
  list-style-type: none;
}

.alumns-list-specialities {
  display: none;
}

h2 {
  font-size: 30px;
  font-family: "Eina 04 Light";
  padding: 15px;
  mix-blend-mode: difference;
}

.alumns-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100vw;
  padding-top: 30px;
}

.alumn {
  display: flex;
  width: 270px;
  height: 270px;
}

.lozad {
  width: 105%;
  height: 105%;
}

/* fade in entry website */
.alumns-container {
  animation: fadeIn 4.2s;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Transform Scale pics when Hover */

.lozad:hover {
  animation: scale 0.5s;
}

@-webkit-keyframes scale {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}
@keyframes scale {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

video::-webkit-media-controls {
  display: none !important;
}

footer {
  display: flex;
  width: 100vw;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 30px;
}

@media screen and (max-width: 640px) {
  /* Header nav section */
  h1 {
    font-size: 15px;
  }

  .course {
    padding-left: 15px;
  }

  .title h1 {
    font-size: 17px;
  }

  .biggerText {
    font-size: 1em;
  }

  .logo {
    padding-right: 15px;
  }

  /* Alumns  */

  .alumns-container {
    justify-content: center;
    padding-bottom: 50px;
  }

  .alumn {
    padding-top: 10px;
    width: 47%;
    height: 187px;
    align-items: center;
    justify-items: center;
  }

  .lozad {
    display: flex;
    align-self: center;
  }

  /* Alumns text section */

  .lists {
    display: flex;
    flex-direction: row;
  }
  .alumns-list {
    justify-content: left;
    padding-left: 15px;
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 0;
    width: fit-content;
  }

  .alumns-list-specialities {
    display: flex;
    justify-content: right;
    text-align: right;
    padding-right: 15px;
  }

  .alumns-list li,
  .alumns-list-specialities li {
    flex-direction: column;
    font-size: 16px;
    margin-bottom: 10px;
    list-style-type: none;
  }

  .footer-link {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .footer-link a,
  .footer-link p {
    font-size: 13px;
  }
}

/* alumns page */

.images {
  display: flex;
  flex-direction: column;
  width: 100vw;
  padding-top: 100px;
  /* padding-left: 20px;
  padding-right: 20px; */
}

.img1-div {
  display: flex;
  width: 90vw;
  background-position: center;
}
#img1 {
  width: 98vw;
}

.img2-div {
  width: 49vw;
}

#img2 {
  width: 49vw;
}

.img3-div {
  width: 49vw;
}

#img3 {
  width: 49vw;
}

.images-2-div {
  display: flex;
  flex-direction: row;
}

.alumn-txt p {
  font-size: 26px;
  padding: 20px;
}

.memory-div {
  display: flex;
  width: 100vw;
  justify-content: end;
  text-decoration: underline;
  padding-right: 20px;
}

.threedmodel {
  display: flex;
  justify-content: center;
  width: 100vw;
  padding-bottom: 100px;
}
model-viewer {
  width: 400px;
  height: 400px;
}
