@font-face {
    font-family: 'Eina 04';
    src: url('Eina04-Light.woff2') format('woff2'),
        url('Eina04-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Eina 04';
    src: url('Eina04-LightItalic.woff2') format('woff2'),
        url('Eina04-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Eina 04 RegularItalic';
    src: url('Eina04-RegularItalic.woff2') format('woff2'),
        url('Eina04-RegularItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Eina 04';
    src: url('Eina04-Regular.woff2') format('woff2'),
        url('Eina04-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

